@model HMS.VeiwModels.Dashboard

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Dashboard</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NumOfDoctors)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumOfDoctors)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumOfPatients)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumOfPatients)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AppointmentsAttended)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppointmentsAttended)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AppointmentsPending)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppointmentsPending)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
         

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
